<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pocopoco_vplay.admin.model.mapper.AdminMapper">

	<select id="selectUser">
	    SELECT USER_ID
	    FROM USERS
	    WHERE USER_NO = #{userNo}
	</select>

	<select id="getUsersCount">
	    SELECT COUNT(*)
	    FROM USERS
	    <if test="search != null and search != ''">
	        WHERE USER_NAME LIKE CONCAT('%', #{search}, '%')
	    </if>
	</select>
	
	<select id="getTotalPaymentAmount">
		SELECT SUM(PAYMENT_AMOUNT) FROM PAYMENT;
	</select>

	<select id="selectAllUser">
	    SELECT *
	    FROM USERS
	    <if test="search != null and search != ''">
	        WHERE USER_NAME LIKE CONCAT('%', #{search}, '%')
	    </if>
	    ORDER BY USER_NO DESC
	</select>

	<select id="getInquiryCount">
	    SELECT COUNT(*)
	    FROM CONTENT
	    JOIN BOARD USING(CONTENT_NO)
	    WHERE BOARD_TYPE = 1
	    <if test="menuNo != null">
	        AND MENU_NO = #{menuNo}
	    </if>
	    <if test="search != null and search != ''">
	        AND CONTENT_TITLE LIKE CONCAT('%', #{search}, '%')
	    </if>
	</select>

	<select id="selectAllInquiry">
	    SELECT *
	    FROM CONTENT
	    JOIN BOARD USING(CONTENT_NO)
	    JOIN MENU USING(MENU_NO)
	    JOIN USERS USING(USER_NO)
	    WHERE BOARD_TYPE = 1
	    <if test="menuNo != null">
	        AND MENU_NO = #{menuNo}
	    </if>
	    <if test="search != null and search != ''">
	        AND (CONTENT_TITLE LIKE CONCAT('%', #{search}, '%') OR CONTENT_DETAIL LIKE CONCAT('%', #{search}, '%'))
	    </if>
	    ORDER BY CONTENT_NO DESC
	</select>


	<!-- <select id="getTemplatesCount"> -->
	<!-- select count(*) -->
	<!-- from content c -->
	<!-- left join content_category cc on c.content_no = cc.content_no -->
	<!-- left join category cat on cc.category_no = cat.category_no -->
	<!-- left join menu m on cat.menu_no = m.menu_no -->
	<!-- where not exists ( -->
	<!-- select 1 -->
	<!-- from board b -->
	<!-- where c.content_no = b.content_no -->
	<!-- ) -->
	<!-- <if test="menuNo != null"> -->
	<!-- and m.menu_no = #{menuNo} -->
	<!-- </if> -->
	<!-- </select> -->

	<select id="getTemplatesCount">
	    SELECT COUNT(*)
	    FROM (
	        SELECT 
	            C.CONTENT_NO, 
	            C.CONTENT_TITLE, 
	            C.CREATE_DATE, 
	            C.MODIFY_DATE, 
	            C.CONTENT_STATUS, 
	            C.DELETE_STATUS, 
	            C.USER_NO, 
	            C.MD_RECOMMENDATION, 
	            M.MENU_NAME,
	            GROUP_CONCAT(CAT.CATEGORY_NAME ORDER BY CAT.CATEGORY_NAME SEPARATOR ',') AS CATEGORY_NAME
	        FROM CONTENT C
	        LEFT JOIN CONTENT_CATEGORY CC ON C.CONTENT_NO = CC.CONTENT_NO
	        LEFT JOIN CATEGORY CAT ON CC.CATEGORY_NO = CAT.CATEGORY_NO
	        LEFT JOIN MENU M ON CAT.MENU_NO = M.MENU_NO
	        WHERE NOT EXISTS (
	            SELECT 1
	            FROM BOARD B
	            WHERE C.CONTENT_NO = B.CONTENT_NO
	        )
	        <if test="menuNo != null">
	            AND CAT.MENU_NO = #{menuNo}
	        </if>
	        GROUP BY C.CONTENT_NO, C.CONTENT_TITLE, C.CREATE_DATE, C.MODIFY_DATE, C.CONTENT_STATUS, C.DELETE_STATUS, C.USER_NO, C.MD_RECOMMENDATION, M.MENU_NAME
	    ) AS T
	</select>

	<select id="selectAllTemplates">
	    SELECT 
	        C.CONTENT_NO, 
	        C.CONTENT_TITLE, 
	        C.CREATE_DATE, 
	        C.MODIFY_DATE, 
	        C.CONTENT_STATUS, 
	        C.DELETE_STATUS, 
	        C.USER_NO, 
	        C.MD_RECOMMENDATION,
	        M.MENU_NAME,
	        M.MENU_NO,
	        GROUP_CONCAT(CAT.CATEGORY_NAME ORDER BY CAT.CATEGORY_NAME SEPARATOR ',') AS CATEGORY_NAME
	    FROM CONTENT C
	    LEFT JOIN CONTENT_CATEGORY CC ON C.CONTENT_NO = CC.CONTENT_NO
	    LEFT JOIN CATEGORY CAT ON CC.CATEGORY_NO = CAT.CATEGORY_NO
	    LEFT JOIN MENU M ON CAT.MENU_NO = M.MENU_NO
	    WHERE NOT EXISTS (
	        SELECT 1
	        FROM BOARD B
	        WHERE C.CONTENT_NO = B.CONTENT_NO
	    )
	    <if test="menuNo != null">
	        AND CAT.MENU_NO = #{menuNo}
	    </if>
	    <if test="search != null and search != ''">
	        AND (C.CONTENT_TITLE LIKE CONCAT('%', #{search}, '%') OR C.CONTENT_DETAIL LIKE CONCAT('%', #{search}, '%'))
	    </if>
	    GROUP BY C.CONTENT_NO, C.CONTENT_TITLE, C.CREATE_DATE, C.MODIFY_DATE, C.CONTENT_STATUS, C.DELETE_STATUS, C.USER_NO, C.MD_RECOMMENDATION, M.MENU_NAME,M.MENU_NO
	    ORDER BY 
	        CASE WHEN C.MD_RECOMMENDATION = 'Y' THEN 0 ELSE 1 END,
	        C.CONTENT_NO DESC
	</select>

	<select id="getrequestPostCount">
	    SELECT COUNT(*)
	    FROM CONTENT
	    JOIN BOARD USING(CONTENT_NO)
	    WHERE BOARD_TYPE = 2
	    <if test="menuNo != null">
	        AND MENU_NO = #{menuNo}
	    </if>
	    <if test="search != null and search != ''">
	        AND (CONTENT_TITLE LIKE CONCAT('%', #{search}, '%') OR CONTENT_DETAIL LIKE CONCAT('%', #{search}, '%'))
	    </if>
	</select>

	<select id="selectAllRequestPost">
	    SELECT *
	    FROM CONTENT
	    JOIN BOARD USING(CONTENT_NO)
	    JOIN MENU USING(MENU_NO)
	    WHERE BOARD_TYPE = 2
	    <if test="menuNo != null">
	        AND MENU_NO = #{menuNo}
	    </if>
	    <if test="search != null and search != ''">
	        AND (CONTENT_TITLE LIKE CONCAT('%', #{search}, '%') OR CONTENT_DETAIL LIKE CONCAT('%', #{search}, '%'))
	    </if>
	    ORDER BY CONTENT_NO DESC
	</select>

	<update id="userUpdate">
	    UPDATE USERS
	    SET STATUS = #{status}
	    WHERE USER_NO = #{userNo}
	</update>

	<update id="inquiryUpdate">
	    UPDATE CONTENT
	    SET CONTENT_STATUS = #{contentStatus}, 
	        DELETE_STATUS = #{deleteStatus}
	    WHERE CONTENT_NO = #{contentNo}
	</update>

	<update id="templatesUpdate">
	    UPDATE CONTENT
	    SET CONTENT_STATUS = #{contentStatus}, 
	        DELETE_STATUS = #{deleteStatus}
	    WHERE CONTENT_NO = #{contentNo}
	</update>

	<update id="requestUpdate">
	    UPDATE CONTENT
	    SET CONTENT_STATUS = #{contentStatus}, 
	        DELETE_STATUS = #{deleteStatus}
	    WHERE CONTENT_NO = #{contentNo}
	</update>

	<select id="countMenuTemp">
	    SELECT COUNT(*)
	    FROM CONTENT CO
	    LEFT JOIN BOARD B ON CO.CONTENT_NO = B.CONTENT_NO
	    LEFT JOIN CONTENT_CATEGORY COA ON CO.CONTENT_NO = COA.CONTENT_NO
	    LEFT JOIN CATEGORY CA ON CA.CATEGORY_NO = COA.CATEGORY_NO
	    LEFT OUTER JOIN MENU ME ON CA.MENU_NO = ME.MENU_NO
	    WHERE BOARD_TYPE IS NULL
	    <if test="i == 1">
	        AND ME.MENU_NO = 1
	    </if>
	    <if test="i == 2">
	        AND ME.MENU_NO = 2
	    </if>
	    <if test="i == 3">
	        AND ME.MENU_NO = 3
	    </if>
	    <if test="i == 4">
	        AND ME.MENU_NO = 4
	    </if>
	    <if test="i == 5">
	        AND ME.MENU_NO = 5
	    </if>
	    <if test="i == 6">
	        AND ME.MENU_NO = 6
	    </if>
	    <if test="i == 7">
	        AND ME.MENU_NO = 7
	    </if>
	</select>

	<insert id="insertReply">
	    INSERT INTO REPLY(REPLY_DETAIL, CREATE_DATE, MODIFY_DATE, REPLY_STATUS, CONTENT_NO, USER_NO)
	    VALUES (#{replyDetail}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 'Y', #{contentNo}, #{userNo})
	</insert>
	
	<update id="updateAdmin" parameterType="map">
		UPDATE USERS
		SET IS_ADMIN = #{isAdmin}
		WHERE USER_NO = #{userNo}
	</update>

</mapper>